.wrapper {

    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-areas:
            "top top top"
            "left middle right"
            "btm btm btm"
}

.top-panel {
    grid-area: top;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.left-panel {
    grid-area: left;
    width: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.middle-panel {
    grid-area: middle;
    width: 100%;
    height: 100%;
}

.right-panel {
    grid-area: right;
    height: 100%;
    width: 50px;
}

.bottom-panel {
    grid-area: btm;
    height: 50px;
    width: 100%;
}

/* Color Map */
.colorscale-container {
    text-align: center;
    width: 100%;
}

/* Timeseries Timeline */
.timeseries-timeline-container {
    transform: rotate(90deg);
    height: 50px;
}

.timeseries-timeline {
}

/* Map */
.heatmap-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pigeon-map-container {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.pigeon-map {

}

.pigeon-map img {
    width: 256px;
    height: 256px;
}

/* Marker */


/* Timestamps Timeline */
.timestamps-timeline-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.timelines {

}

.timelines p {
    font-size: x-small;
    color: black;
}

/* Closeable Area */
.timeserie-closable-area {
    width: 100%;
    height: 30px;
    margin: 20px 0 0 0;
}

.timeserie-closable-box {
    float: left;
    height: 15px;
    margin: 10px 0 0 0;
}

.timeserie-closable-icon {
    float: left;
    height: 15px;
}

.timeserie-closable-icon button {
    background: transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: 0.5s;
}

.timeserie-closable-content {
    float: left;
}

.timeserie-closable-content p {
    margin: 0 10px 0 0;
    font-size: small;
}




/*.heatmap-container {*/

    /*display: flex;*/
/*}*/

/*.wrapper {*/

    /*display: grid;*/
    /*justify-content: center;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*grid-template-areas:    "hd hd hd hd"*/
                            /*"lsd tlvertic main rsd"*/
                            /*"ft ft ft ft"*/
                            /*"tl tl tl tl"*/
/*}*/

/*.wrapper p {*/
    /*font-size: x-small;*/
    /*color: black;*/
/*}*/

/*.menu-area-clickable {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: transparent no-repeat;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*overflow: hidden;*/
    /*outline: none;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*transition: 0.5s;*/
/*}*/

/*.menu-area-clickable:hover {*/
    /*background-color: #EAEAEA;*/
/*}*/

/*.menu-area-clickable img {*/
    /*width: 15px;*/
    /*height: 15px;*/
/*}*/

/*!* Timeline Horizontal *!*/
/*.timeline-overlay {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*pointer-events: none;  !* the layer behind the overlay is clickable *!*/
    /*opacity: 0.5;*/
/*}*/

/*.timeline-overlay line {*/
    /*stroke: black;*/
    /*stroke-width: 1px;*/
/*}*/

/*!* Heatmap Grid *!*/

/*.header {*/
    /*grid-area: hd;*/
    /*height: 35px;*/
    /*margin: 0 35px 0 35px;*/
/*}*/

/*.left-sidebar {*/
    /*grid-area: lsd;*/
    /*width: 35px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*.right-sidebar {*/
    /*grid-area: rsd;*/
    /*width: 35px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*.tiles-container-bordering {*/
    /*border: 2px grey solid;*/
/*}*/

/*.tiles-container {*/
    /*grid-area: main;*/
    /*display: grid;*/
    /*cursor: crosshair;*/
    /*position: relative;*/
/*}*/

/*.footer {*/
    /*grid-area: ft;*/
    /*height: 35px;*/
    /*margin: 0 35px 0 35px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*.tiles-col {*/
    /*width: 256px;*/
/*}*/

/*.tile {*/
    /*width: 256px;*/
    /*height: 256px;*/
/*}*/