.wrapper {

    display: flex;
    justify-content: center;
}

.grid {

    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-areas:
            "top top top"
            "left middle right"
            "btm btm btm"
            "ft ft ft"
}

.top-panel {
    grid-area: top;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.left-panel {
    grid-area: left;
    width: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.middle-panel {
    grid-area: middle;
    width: 100%;
    height: 100%;
}

.right-panel {
    grid-area: right;
    width: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.bottom-panel {
    grid-area: btm;
    height: 100px;
    width: 100%;
}

/* Color Map */
.colorscale-container {
    text-align: center;
    width: 100%;
}

.palette-scale-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ranges-data-container {
    display: flex;
}

.data-container p {
    font-size: xx-small;
}

/* Timeseries Timeline */
.timeseries-timeline-container {
    height: 50px;
}

.timeline-left {
    transform: rotate(90deg);
}

.timeseries-timeline {
}

/* Map */
.heatmap-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pigeon-map-container {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.pigeon-map {

}

.pigeon-map img {
    width: 256px;
    height: 256px;
}

/* Timestamps Timeline */
.timestamps-timeline-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.timelines {

}

.timelines p {
    font-size: x-small;
    color: black;
}

/* Selection */
.heatmap-menu-container {
    grid-area: ft;
    display: flex;
    justify-content: center;
}

.selection-box-container {
    border: 1px solid black;
}

/* Closeable Area */
.timeserie-closable-area {
    width: 100%;
    height: 30px;
    margin: 20px 0 0 0;
}

.timeserie-closable-box {
    float: left;
    height: 15px;
    margin: 10px 0 0 0;
}

.timeserie-closable-icon {
    float: left;
    height: 15px;
}

.timeserie-closable-icon button {
    background: transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: 0.5s;
}

.timeserie-closable-content {
    float: left;
}

.timeserie-closable-content p {
    margin: 0 10px 0 0;
    font-size: small;
}