.main-box-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.properties-container {
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: left;
}

.icon-box {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    margin: 0 0 4px 4px;
}

.icon-box svg {
    width: 15px;
    height: 15px;
}

.property-box {
    height: 24px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.property-box p {
    align-self: center;
    margin: 0 10px 0 0;
    font-size: x-small;
}